<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <display-name>LostFoundSystem</display-name>
  <context-param>
    <param-name>Driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>Database</param-name>
    <param-value>jdbc:mysql://localhost:3306/lost_found_system</param-value>
  </context-param>
  <context-param>
    <param-name>DatabaseUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>DatabasePassword</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>UserInfoTable</param-name>
    <param-value>user_info</param-value>
  </context-param>
  <context-param>
    <param-name>LostTable</param-name>
    <param-value>lost</param-value>
  </context-param>
  <context-param>
    <param-name>PickTable</param-name>
    <param-value>pick</param-value>
  </context-param>
  <context-param>
    <param-name>MessageTable</param-name>
    <param-value>message</param-value>
  </context-param>
  <servlet>
    <description>HelloWorldDescriptor</description>
    <display-name>HelloWorldDescriptor</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>edu.ruc.demo.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorldURLTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyUser</servlet-name>
    <servlet-class>edu.ruc.controller.VerifyUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyUser</servlet-name>
    <url-pattern>/VerifyUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>edu.ruc.controller.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLost</servlet-name>
    <servlet-class>edu.ruc.controller.AddLost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLost</servlet-name>
    <url-pattern>/AddLost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPick</servlet-name>
    <servlet-class>edu.ruc.controller.AddPick</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPick</servlet-name>
    <url-pattern>/AddPick</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMessage</servlet-name>
    <servlet-class>edu.ruc.controller.AddMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMessage</servlet-name>
    <url-pattern>/AddMessage</url-pattern>
  </servlet-mapping>
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>